accelerate
decord
einops==0.8.0
einops-exts==0.0.4
huggingface_hub
imageio
opencv-python
orjson
peft>=0.4.0
pycocoevalcap
pyyaml
ring-flash-attn
scikit-learn>=1.2.2
scipy
sentencepiece==0.2.0
shortuuid
tensorboardX
termcolor
timm==0.9.12
tqdm
yacs
pycocoevalcap
editdistance
nltk
seaborn